.inputMessageWrap {
  width: 100%;
  display: grid;
  padding: 0.5rem;
  background-color: var(--color-light-gray);
  grid-template-columns: 7fr 1fr;
  gap: 1rem;
}

.textAreaComponent textarea {
  border: 0;
  border-radius: var(--border-radius);
  resize: none;
  font-family: var(--font-mono);
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  padding: 0.3rem;
  font-size: 0.8rem;
}

.sendButtonComponent button {
  border: 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-sky-blue);
  height: 50px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--color-white);
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.3s;
}
.sendButtonComponent button:hover {
  filter: brightness(90%);
}
